{% extends 'base.html' %}

{% load humanize %}
{% block main %}

<table  border="1" width="100%">
	<tr>
		<td colspan="18" style="text-align: CENTER; padding-left: 0px"><h5>RELAÇÃO DE CLIENTES</h5>
		</td>
	</tr>
	<tr>
			<td colspan="2" style="text-align: center;  padding-left: 3px">
				<h6><strong>First Name</strong></h6>
			</td>
			<td colspan="2" style="text-align: center;  padding-left: 3px">
				<h6><strong>Last Name</strong></h6>
			</td>
			<td colspan="5" style="text-align: center;  padding-left: 3px">
				<h6><strong>Age</strong></h6>
			</td>
			<td colspan="2" style="text-align: center;  padding-left: 3px">
				<h6><strong>Salary</strong></h6>
			</td>
			<td colspan="2" style="text-align: center; padding-left: 3px">
				<h6><strong>Bio</strong></h6>
			</td>
	<tr>
		<td colspan="1" style="text-align: center; padding-left: 3px">
			<h6>{% for clientes in object_list %}
				<a style="text-align: center; padding-left: 3px; border-bottom: 1px solid black; display: grid;">
                    {{ clientes.first_name}}<br>
				</a>
				{% endfor %}
			</h6>
		</td>
		<td colspan="1" style="text-align: center; padding-left: 3px">
			<h6>{% for clientes in object_list %}
				<a style="text-align: center; padding-left: 3px; border-bottom: 1px solid black; display: grid;">
                    {{ clientes.last_name}}<br>
				</a>
				{% endfor %}
			</h6>
		</td>
		<td colspan="1" style="text-align: center; padding-left: 3px">
			<h6>{% for clientes in object_list %}
				<a style="text-align: center; padding-left: 3px; border-bottom: 1px solid black; display: grid;">
                    {{ clientes.age}}<br>
				</a>
				{% endfor %}
			</h6>
		</td>
		<td colspan="1" style="text-align: center; padding-left: 3px">
			<h6>{% for clientes in object_list %}
				<a style="text-align: center; padding-left: 3px; border-bottom: 1px solid black; display: grid;">
                    {{ clientes.salary}}<br>
				</a>
				{% endfor %}
			</h6>
		</td>
		<td colspan="1" style="text-align: center; padding-left: 3px">
			<h6>{% for clientes in object_list %}
				<a style="text-align: center; padding-left: 3px; border-bottom: 1px solid black; display: grid;">
                    {{ clientes.bio}}<br>
				</a>
				{% endfor %}
			</h6>
		</td>
	</tr>
</table>
		<a href="{% url 'create_clientes' %}" class="btn btn-info">
			Novo
		</a>
		<a href="{% url 'execucao' %}" class="btn btn-success">
			Voltar
		</a>
		<a href="{% url 'logout' %}" class="btn btn-danger">
			Sair
		</a>
		<a href="https://sistema-gestao-municipal.herokuapp.com/admin/clientes/clientes/?" class="btn btn-warning">
			Clientes
		</a><br><br>
{% endblock %}
