{% extends 'base2.html' %}
{% load bootstrap %}

{% block main %}
<html>
<head>
    <title>CursoS</title>
    <meta charset="utf-8">
    <!-- CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.datatables.min.css" rel="stylesheet">
</head>
<body>
<h5> CADASTRO DE CURSO</h5><br>
<div class="container-fluid">
    <div class="Jumbotron" >
    <form method="post" enctype="multipart/form-data">
        <table id="minhaTabela" class="display" style="width:23%; text-align: right; font-size: 18px">
            {% csrf_token %}
            {{ form|bootstrap }}
        </table>
        <div class="col"></div>
        <a href="{% url 'list_curso' %}" class="btn btn-success">
            Voltar
        </a>
        <!--&nbsp-->
        <button type="submit" class="btn btn-info">
            Salvar
        </button>
    </form>
</div>
</div>
</body>
</html>
{% endblock %}