{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}}{% endblock %}</title>
</head>

<div class="container">
    <div class="row">
        <div class="col" >
            <img src="{% static 'imagens/logoEGC.png' %}" class="imagem"/>
        </div>
        <div class="col-4">
            <h2 class="title">CONTROLE DE CURSOS</h2>
        </div>
        <div class="col-3">
            <h5 class="welcome"> Seja bem vindo(a)! </h5>
            <h5 class="welcome1">{{ user.username }}</h5>
        </div>

        &nbsp
        <div class="col-1">
            <a href="{% url 'logout' %}" class="btn btn-Danger">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true"  class="exit"></span>
                </button>
            </a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>

            {% if usuario.servidor.lotacao %}
                <a href="">Editar Lotacao</a>
            {% else%}
                <a href="">Criar Lotacao</a>
            {% endif %}

        </div>
    </div>
</div>
<body>
    <div class="container">
        <div class="jumbotron">
         <a href="{% url 'home' %}" class="btn btn-info">Home</a>
            {% block main %}

            {% endblock%}
        </div>
    </div>

    {% block footer %}

    {% endblock%}

</body>
</html>