{% extends 'base.html' %}

{% block main %}
<h2>
	<a>Visão
	</a>
</h2>
<h6>
	<a>Ser reconhecida como referência de Secretaria Municipal a nível nacional.
	</a>
</h6>
<br>
<h2>
	<a>Missão
	</a>
</h2>
<h6>
	<a>A Secretaria Municipal de Desenvolvimento Social (SMDS) tem por finalidade planejar, coordenar e articular a
		implementação das políticas sociais no Município de forma integrada e intersetorial.
	</a>
</h6>
<br>
<h2>
	<a>
		Valores
	</a>
</h2>
<h6>
	<a>
		Solidariedade<br>
		Fraternidade<br>
		Ética<br>
	</a>
</h6>
<br>
<h2>
	<a>
		Atribuições
	</a>
</h2>
<h6>
	<ol>
		<li>Elaborar e coordenar programas, projetos e atividades de assistência social, em consonância com a
			Lei Orgânica de Assistência Social (LOAS), programas estaduais e federais;
		</li>
		<li>Coordenar a execução da política municipal de assistência social;
		</li>
		<li>Articular a participação e o apoio de organizações sociais na execução de programas sociais no
			Município;
		</li>
		<li>Coordenar as atividades de segurança alimentar e abastecimento;
		</li>
		<li>Coordenar a elaboração e a execução de políticas, programas e ações para a proteção de crianças e
			adolescentes;
		</li>
		<li>Coordenar a elaboração e a execução de políticas, programas e ações visando à erradicação da miséria e
			à redução da pobreza, considerado seus fatores multidimensionais;
		</li>
		<li>Gerir os equipamentos de assistência social;
		</li>
		<li>Atuar na implantação dos programas de moradia;
		</li>
		<li>Participar das atividades de intervenções em assentamentos precários existentes, incluindo ações
			sociais, de apoio à urbanização e à regularização fundiária;
		</li>
		<li>Atuar, no que lhe compete, na gestão, coordenação ou apoio a conselhos e fundos municipais, conforme
			determinações das leis específicas;
		</li>
		<li>Desenvolver outras atividades destinadas à consecução de seus objetivos.
		</li>
	</ol>
	</a>
</h6>
<br>
<h2>
	<a>
		Serviços Relacionados
	</a>
</h2>
<h6>
	<a>
		<ul>
			<li>Abrigo Bela Vista
			</li
			<li>Cadastro Único e Bolsa Família
			</li>
			<li>Casa de Passagem
			</li>
			<li>Casa dos Conselhos
			</li>
			<li>Centro de Referência de Assistência Social – CRAS
			</li>
			<li>Centro de Referência Especializado para População em Situação de Rua
			</li>
			<li>Conselhos Tutelares
			</li>
			<li>Serviço Especializado de Abordagem Social – (Parceria com a Associação de Moradores do Bairro
				Novo Progresso II – Amonp)
			</li>
		</ul>
	</a>
</h6>
{% endblock %}
